body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #f0f0f0;
    line-height: 1.6;
}

header {
    background-color: #1c1c1c;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-bottom: 3px solid white
}


.header-center {
    text-align: center;
    color: #fff;
}

.header-center h2 {
    font-size: 28px;
    margin: 0;
}

.header-center p {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}


body {
    padding-top: 80px; 
}

/* Seção de introdução */
.intro {
    position: relative;
    height: 500px; 
    background-image: url('/img/1713773.jpg'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255); 
    text-shadow: 2px 1px 1px black;
}

.intro h2 {
    font-size: 48px; 
    margin-bottom: 5px;
    text-decoration: underline;
}

.intro p {
    font-size: 22px;
    color: #ffffff;
}

.intro button {
    padding: 10px 20px;
    background-color: rgb(0, 0, 0); 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    transition: transform 0.5s;
}

.intro button:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
}

.atracoes {
    padding: 50px;
    text-align: center;
    background-color: #1a1a1a;
}

.atracoes h3 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 12px;
    width: 29%;
    margin-bottom: 100px;
    text-align: left;
    margin-left: 13px;
    height: 600px;
}

.card img {
    width: 100%; 
    height: 300px; 
    object-fit: cover;
    border-radius: 12px; 
    margin-bottom: 0px; 
    outline: solid 1px white;
}

.card h4 {
    font-size: 20px;
    color: #fff;
    margin-bottom: -10px;
    margin-top: 5px;
}

.card p {
    color: #ccc;
}


.sobre {
    padding: 50px;
    text-align: center;
    background-color: #1a1a1a;
}

.sobre h3 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
}

.cards2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card2 {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 12px;
    width: 29%;
    margin-bottom: -50px;
    text-align: left;
    margin-left: 13px;
    height: 600px;
}

.card2 img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 12px; 
    margin-bottom: 0px; 
    outline: solid 1px white;
}

.card2 h4 {
    font-size: 20px;
    color: #fff;
    margin-bottom: -10px;
    margin-top: 5px;
}

.card2 p {
    color: #ccc;
}

footer {
    background-color: #1c1c1c;
    color: #ccc;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}


.comprar-container {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #1c1c1c;
    border-bottom: solid 2px white;
    border-top: solid 2px white
}

.comprar-container h3 {
    font-size: 24px;
    color: #fff;
}

.comprar-container p {
    color: #ccc;
    font-size: 16px;
}

.comprar-btn {
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.comprar-btn:hover {
    background-color: #ccc;
}


@media (max-width: 1024px) {
    
    .cards {
        flex-direction: column; 
        align-items: center; 
    }
    
    .card {
        width: 80%; 
        margin: 20px 0; 
    }

    
    .cards2 {
        flex-direction: column; 
        align-items: center; 
    }

    .card2 {
        width: 80%; 
        margin: 20px 0; 
    }
    
    
    .comprar-container {
        padding: 10px; 
    }

    .comprar-btn {
        font-size: 16px; 
        padding: 8px 16px; 
    }

    
    .intro {
        padding: 80px 20px;
    }
}
